body {
    background-color: #293241;
}

.navbar-home-text {
    color: white;
    font-size:24px;
    margin-left: 15px;
}

.navbar-coviprev-text {
    color:white;
    font-size:24px;
}

.targets {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.graphic {
    border-radius: 5px;
    background-color: #3A4352;
    /*box-shadow: 2px 2px 2px #445566;*/
} 

.text-credit {
    padding-top: 26px;
    padding-left: 45px;
    padding-bottom: 26px;
}

#graph-fra {
    margin-top: 30px;
    margin-left: 40px;
}

#graph-region {
    margin-top: 30px;
    margin-left: 40px;
}

#graph-sexe {
    margin-top: 30px;
    margin-right: 40px
}

#graph-age {
    margin-top: 30px;
    margin-right : 40px
}

#credits {
    margin-top: 30px;
    margin-right: 40px;
    color: white;
}